<!-- templates/monitoring.html -->

{% extends "base.html" %}

{% block content %}

<h1 class="title">
    Upload your file
</h1>


<form method="post" action="/file_upload" enctype="multipart/form-data">
    <dl>
        <p>
            <input type="file" name="file" autocomplete="off" required>
        </p>
    </dl>
    <p>
        <input type="submit" value="Submit">
    </p>
</form>

<h3 style="margin-top: 50px;">
    Uploaded files
</h3>

<div style="width: 80%; margin:auto">
{% for key, value in files.items() %}
<form method="GET" action="{{ url_for('main.remove_file', file_name=key) }}">
<div style="display: flex; justify-content:space-between; margin: 20px">
    <p class="inline">{{ value }}</p>
    <button class="button">Remove</button>
</div>
</form>
{% endfor %}
</div>

{% endblock %}